*{
    box-sizing: border-box;
}

    .new{
        width:1200px;
        border:2px solid red;
        float:left;
    }
td{
    width:50px;
    background-color: aquamarine;
}

/* .container{
    display:flex;
    /* width:1500px;
    height:800px; */
    border:2px dotted red;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    flex-direction: row;
    flex-wrap: wrap;
} */

.new2{
    width:400px;
    height:200px;
    background-color: rgb(30, 168, 210);
    display:flex;
}

.top1{
    width:200px;
    height:500px;
    background-color: crimson;
    align-self: flex-end;
    /* order:1; */
}

.top2{
    /* width:200px;
    height:200px; */
    background-color: rgb(220, 20, 200);
    /* order:2; */
    flex-grow: 3;
}

.top3{
    width:200px;
    height:200px;
    background-color: rgb(27, 220, 20);
    padding:50px;
}

.new3{
    width:400px;
    height:200px;
    background-color: rgba(30, 210, 66, 0.5);  
}

.new4{
    width:400px;
    height:200px;
    background-color: rgb(244, 149, 87);
    display:flex;
    flex-direction: column;
}

.top4{
    width:400px;
    height:200px;
    background-color: brown;
}

.top5{
    width:400px;
    height:200px;
    background-color: rgb(105, 238, 248);
}

.top6{
    width:400px;
    height:200px;
    background-color: rgb(238, 139, 139);
}

.neww{
    display:flex;
}

.neww1{
    width:100px;
    height: 100px;
    background-color: rgb(87, 30, 210);
    flex-shrink: 2;
    flex-grow: 2;
    order:1;
}

.neww2{
    width:100px;
    height: 100px;
    background-color: rgb(113, 3, 14);
    flex-grow: 4;
    order:2;
}


.neww3{
    width:100px;
    height: 100px;
    background-color: rgb(237, 142, 74);
    flex-grow: 3;
    order:4;
}


img{
    width:200px;
    height:200px;
    box-shadow: 15px 20px 50px 25px rgb(42, 165, 159);
}


.top{
    width:100%;
    height:100vh;
    background-image: url(../images/pexels-asad-photo-maldives-457882.jpg);
    background-size: covers;
    background-repeat: no-repeat;
    text-shadow: 2px -3px 5px green;
}